<section class="experience-section">
  <div class="intro">
    <h1>💼 Professional Experience</h1>
    <div class="card">
    <h2>Threem Technology Solutions, Bangalore</h2>
    <h2>Oct 2024 – Present</h2>
      <h3>[ .NET Full Stack Developer ]</h3>
      <div class="badges">
        <span class="badge badge-csharp">C#</span>
        <span class="badge badge-dotnet">.NET 8</span>
        <span class="badge badge-aspnet">ASP.NET Core</span>
        <span class="badge badge-angular">Angular 18</span>
        <span class="badge badge-sql">SQL Server</span>
        <span class="badge badge-azure">Azure</span>
        <span class="badge badge-automapper">AutoMapper</span>
        <span class="badge badge-fluentvalidation">FluentValidation</span>
        <span class="badge badge-swagger">Swagger</span>
        <span class="badge badge-postman">Postman</span>
      </div>
      <div class="project">
        <span class="card-emoji">👥</span>
        <h3>SalexiHR – HR System</h3>
        <ul>
          <li>Developed a complete HR management system with modules for Leads, Clients, Jobs, Applicants, and Interview Scheduling.</li>
          <li>Designed role-based authentication (Sales, HR, Applicant) with JWT & MFA.</li>
          <li>Integrated Azure Blob Storage for resume management and parse and  Azure AI Search for intelligent candidate profile searches.</li>
          <li>Set up Azure DevOps CI/CD pipelines, documented APIs with Swagger, and tested endpoints using Postman.</li>
        </ul>
      </div>
      <div class="project">
        <span class="card-emoji">💰</span>
        <h3>PPF Management System</h3>
        <ul>
          <li>Built an enterprise system for Public Provident Fund management with secure APIs and CRUD operations.</li>
          <li>Implemented JWT, MFA, and Role-Based Access Control (RBAC).</li>
          <li>Enhanced backend performance using AutoMapper & FluentValidation.</li>
          <li>Optimized SQL queries (12% faster) and reduced latency by 15% with Application Insights monitoring.</li>
        </ul>
      </div>
      <div class="project">
        <span class="card-emoji">📅</span>
        <h3>Leave Management System</h3>
        <ul>
          <li>Designed internal tool for employee leave requests and approval workflows.</li>
          <li>Built admin dashboards and reporting features using Angular reusable components.</li>
        </ul>
      </div>
      <div class="project">
        <span class="card-emoji">⏰</span>
        <h3>Attendance Management System</h3>
        <ul>
          <li>Designed internal tool for employee attendance tracking.</li>
          <li>Built admin dashboards and reporting features using Angular reusable components.</li>
        </ul>
      </div>
      <ul>
        <li>Collaborated in an Agile environment, participating in sprint planning, daily stand-ups, and peer code reviews.</li>
      </ul>
    </div>
  </div>
</section>